.footer-text,
.greetings-user{
    color: #fff;
}
.form-control:focus {
    border-color: #ffff00;
    box-shadow: 0px 1px 1px rgba(190, 221, 14, 0.075) inset, 0px 0px 8px rgba(190, 221, 14, 0.5);
}
.index-cover img{
    max-width: 350px;
}
.welcome-message{
    text-align: center;
    padding-top: 10%;
}
.welcome-message h4{
    font-size: 3rem;
}
.btn-logout{
    margin-left: 1rem;
}
.form-search-list{
    justify-content: flex-end;
}
.pesquisa-wrapper{
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid #c2c2c2;
    margin-bottom: 2rem;
}
.form-search-index:first-child{
    margin-right: .4rem;
}
.form-search-index{
    margin-bottom: 1.2rem;
    display: inline-flex;
}
.table-responsive{
    display: table;
}
.imagem-produto,
.imagem-produto-card{
    width: 200px;
    height: 200px;
}
.imagem-produto.img-thumbnail.img-carrinho{
    width: 100px;
    height: 100px;
}
.card-body{
    text-align: center;
}
.item-produto-card{
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}
.produto-indisponivel{
    background-color: #cecece;
    border-radius: 5px;
    padding: .15rem 0;
    color: #535353;
}
.jumbotron{
    display: flex;
    border: 1px solid #c2c2c2;
}
.jumbotron-content-img{
    display: flex;
    justify-content: flex-end;
}
.jumbotron-content-text{
    display: flex;
    align-items: center;
}
.img-jumbotron{
    width: 200px;
}

@media only screen and (min-width: 300px) and (max-width:768px) {
    .index-cover img{
        max-width: 200px;
    }
    .welcome-message h4{
        font-size: 1.5rem;
    }
    .footer{
        height: auto !important;
    }
    .footer .container span{
        font-size: 1.2rem;
        line-height: 0px !important;
    }
    body > .container {
        padding: 80px 15px 80px 15px;
    }
    .table-responsive{
        display: block;
    }
}
.cara{
    color: rgba(rgb(190, 221, 14), alpha);
}